In [51]:
import pandas as pd

In [52]:
file_paths = [
    "data/IRR/ELECSTAT_20250215-174354.xlsx",
    "data/IRR/ELECSTAT_20250215-174508.xlsx",
    "data/IRR/ELECSTAT_20250215-174559.xlsx",
    "data/IRR/ELECSTAT_20250215-174615.xlsx"
]

# Read the first sheet of each Excel file to get an overview
dataframes = [pd.ExcelFile(file).parse(sheet_name=0) for file in file_paths]

# merge all dataframes
elecstats_df = pd.concat(dataframes)
elecstats_df.to_csv("data/IRR/ELECSTAT.csv", index=False)
# df.head()
elecstats_df.sample(5)

,"Electricity statistics by Region, Technology, Data Type and Year",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,"Electricity statistics (MW/GWh) by Country/area, Technology, Data Type, Grid connection and Year",Unnamed: 5
87512,NaN,NaN,NaN,NaN,2007.0,NaN,-
58135,NaN,NaN,NaN,NaN,2006.0,NaN,-
83034,NaN,NaN,NaN,NaN,2017.0,NaN,1556.8
39126,NaN,NaN,NaN,NaN,2005.0,NaN,-
82005,NaN,NaN,NaN,NaN,2020.0,NaN,-

In [53]:
file_paths = [
    "data/IRR/PUBFIN_20250215-174006.xlsx",
    "data/IRR/PUBFIN_20250215-174057.xlsx"
]

# Read the first sheet of each Excel file to get an overview
dataframes = [pd.ExcelFile(file).parse(sheet_name=0) for file in file_paths]

# merge all dataframes
pubfin_df = pd.concat(dataframes)
pubfin_df.to_csv("data/IRR/PUBFIN.csv", index=False)
# df.head()
pubfin_df.sample(5)

,"Public Investments (2021 million USD) by Country/area, Technology and Year",Unnamed: 1,Unnamed: 2,Unnamed: 3
66522,NaN,NaN,2017.0,0.0
35593,NaN,NaN,2011.0,0.0
736,NaN,NaN,2000.0,0.0
90650,NaN,NaN,2016.0,0.0
52263,NaN,NaN,2016.0,0.0

In [54]:
elecstats_df_cleaned = elecstats_df.dropna(thresh=3)
elecstats_df_cleaned.ffill(axis=0, inplace=True)

elecstats_df_cleaned.columns = [
    "Region_Tech_Desc",
    "Category",
    "Data_Type",
    "Year",
    "Electricity_Output_GWh",
    "Grid_Connection",
    "Miscellaneous",
]
elecstats_df_cleaned.reset_index(drop=True, inplace=True)


elecstats_df_cleaned.to_csv("data/IRR_cleaned/ELECSTAT_CLEANED.csv", index=False)
elecstats_df_cleaned.sample(5)

C:\Users\obada\AppData\Local\Temp\ipykernel_33880\2978813201.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  elecstats_df_cleaned.ffill(axis=0, inplace=True)

,Region_Tech_Desc,Category,Data_Type,Year,Electricity_Output_GWh,Grid_Connection,Miscellaneous
7728,South America,Onshore wind energy,Electricity Generation (GWh),All,2000.0,Sudan (the),-
6087,South America,Renewable hydropower,Electricity Installed Capacity (MW),All,2000.0,Italy,13389
4134,South America,Solar photovoltaic,Electricity Generation (GWh),All,2000.0,Uruguay,-
1222,South America,Solar photovoltaic,Electricity Installed Capacity (MW),On-grid,2000.0,Czechia,0.1
7901,South America,Offshore wind energy,Electricity Installed Capacity (MW),Off-grid,2000.0,Tokelau,-

In [55]:
heat_gen_df = pd.read_excel("data/IRR/HEATGEN_20250215-174254.xlsx", skiprows=1, header=None)

heat_gen_df.columns = [
    "Country/Area",
    "Technology",
    "Grid Connection",
    "Year",
    "Heat Generation (TJ)",
]


heat_gen_df["Country/Area"].fillna(method="ffill", inplace=True)
heat_gen_df["Technology"].fillna(method="ffill", inplace=True)
heat_gen_df['Grid Connection'].fillna(method="ffill", inplace=True)


heat_gen_df_cleaned = heat_gen_df.dropna(subset=["Year", "Heat Generation (TJ)"])


heat_gen_df_cleaned["Year"] = heat_gen_df_cleaned["Year"].astype(int)
heat_gen_df_cleaned["Heat Generation (TJ)"] = pd.to_numeric(
    heat_gen_df_cleaned["Heat Generation (TJ)"], errors="coerce"
)
# TJ stands for terajoules, which is a unit of energy

heat_gen_df_cleaned = heat_gen_df_cleaned.dropna(subset=["Heat Generation (TJ)"])


heat_gen_df_cleaned.reset_index(drop=True, inplace=True)

heat_gen_df_cleaned.to_csv("data/IRR_cleaned/HEATGEN_CLEANED.csv", index=False)
heat_gen_df_cleaned.sample(5)

C:\Users\obada\AppData\Local\Temp\ipykernel_33880\2980713480.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  heat_gen_df["Country/Area"].fillna(method="ffill", inplace=True)
C:\Users\obada\AppData\Local\Temp\ipykernel_33880\2980713480.py:12: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  heat_gen_df["Country/Area"].fillna(method="ffill", inplace=True)
C:\Users\obada\AppData\Local\Temp\ipykernel_33880\2980713480.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  heat_gen_df["Technology"].fillna(method="ffill", inplace=True)
C:\Users\obada\AppData\Local\Temp\ipykernel_33880\2980713480.py:13: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  heat_gen_df["Technology"].fillna(method="ffill", inplace=True)
C:\Users\obada\AppData\Local\Temp\ipykernel_33880\2980713480.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  heat_gen_df['Grid Connection'].fillna(method="ffill", inplace=True)
C:\Users\obada\AppData\Local\Temp\ipykernel_33880\2980713480.py:14: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  heat_gen_df['Grid Connection'].fillna(method="ffill", inplace=True)
C:\Users\obada\AppData\Local\Temp\ipykernel_33880\2980713480.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  heat_gen_df_cleaned["Year"] = heat_gen_df_cleaned["Year"].astype(int)
C:\Users\obada\AppData\Local\Temp\ipykernel_33880\2980713480.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  heat_gen_df_cleaned["Heat Generation (TJ)"] = pd.to_numeric(

,Country/Area,Technology,Grid Connection,Year,Heat Generation (TJ)
5776,Norway,Natural gas,Heat (Commercial),2005,305.00
8099,Sweden,Coal and peat,Heat (Commercial),2021,368.00
6170,Portugal,Oil,Combined Heat and Power (CHP),2015,439.00
7365,Slovakia,Renewable municipal waste,Heat (Commercial),2007,59.00
7773,Slovenia,Coal and peat,Combined Heat and Power (CHP),2022,3919.66

In [56]:
reshare_df = pd.read_excel("data/IRR/RESHARE_20250215-173602.xlsx", sheet_name="RESHARE")

reshare_df_cleaned = reshare_df.dropna(how="all")


reshare_df_cleaned.iloc[:, 0] = reshare_df_cleaned.iloc[:, 0].fillna(method="ffill")


reshare_df_cleaned.columns = ["Region/Country", "Indicator", "Year", "Value"]


reshare_df_cleaned = reshare_df_cleaned.dropna(subset=["Year", "Value"])


reshare_df_cleaned["Year"] = reshare_df_cleaned["Year"].astype(int)


reshare_df_cleaned["Value"] = pd.to_numeric(reshare_df_cleaned["Value"], errors="coerce")


reshare_df_cleaned = reshare_df_cleaned.dropna(subset=["Value"])

reshare_df_cleaned.reset_index(drop=True, inplace=True)
reshare_df_cleaned.to_csv("data/IRR_cleaned/RESHARE_CLEANED.csv", index=False)
reshare_df_cleaned.sample(5)

C:\Users\obada\AppData\Local\Temp\ipykernel_33880\498465444.py:6: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  reshare_df_cleaned.iloc[:, 0] = reshare_df_cleaned.iloc[:, 0].fillna(method="ffill")

     Region/Country Indicator  Year  Value
7691        Romania       NaN  2017  37.77
872         Armenia       NaN  2021  37.10
2586     Costa Rica       NaN  2017  83.91
7657        Réunion       NaN  2007  31.63
603         Algeria       NaN  2016   2.49

In [57]:
pubfin_df.columns = ["Country", "Technology", "Year", "Investment"]


pubfin_df["Country"] = pubfin_df["Country"].fillna(method="ffill")
pubfin_df["Technology"] = pubfin_df["Technology"].fillna(method="ffill")


pubfin_df_cleaned = pubfin_df.dropna(subset=["Year", "Investment"])


pubfin_df_cleaned["Year"] = pubfin_df_cleaned["Year"].astype(int)
pubfin_df_cleaned["Investment"] = pubfin_df_cleaned["Investment"].astype(float)

pubfin_df_cleaned.reset_index(drop=True, inplace=True)
pubfin_df_cleaned.to_csv("data/IRR_cleaned/PUBFIN_CLEANED.csv", index=False)
pubfin_df_cleaned.sample(5)

C:\Users\obada\AppData\Local\Temp\ipykernel_33880\2891037819.py:4: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  pubfin_df["Country"] = pubfin_df["Country"].fillna(method="ffill")
C:\Users\obada\AppData\Local\Temp\ipykernel_33880\2891037819.py:5: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  pubfin_df["Technology"] = pubfin_df["Technology"].fillna(method="ffill")
C:\Users\obada\AppData\Local\Temp\ipykernel_33880\2891037819.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pubfin_df_cleaned["Year"] = pubfin_df_cleaned["Year"].astype(int)
C:\Users\obada\AppData\Local\Temp\ipykernel_33880\2891037819.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pubfin_df_cleaned["Investment"] = pubfin_df_cleaned["Investment"].astype(float)

           Country                Technology  Year  Investment
176596  Seychelles               Biogasoline  2020         0.0
6925       Belarus            Pumped storage  2020         0.0
186999       Tonga  Concentrated solar power  2013         0.0
175609     Senegal                 Biodiesel  2018         0.0
165855       Qatar             Marine energy  2020         0.0

: